
<div class="product-reviews">
		<p class="lead">Customer Reviews</p>
		<% if signed_in? %>

  <h4>Add a review:</h4>
  <%= form_for([@product, @product.comments.build]) do |f| %>
  
    <div class="form-group">
      <%= f.label :body, "Comments" %><br>
      <%= f.text_area :body %>
    </div>
    <div class="form-group">
    <div class="rating"></div>
    </div>  
    <div class="actions">
      <%= f.submit "Submit" %>
    </div>
  <% end %>
<% end %>
    <% @comments.each do |comment| %>
        <div class="row">
            <hr>
            <div><%= comment.user.first_name %> <small><em><%= "#{time_ago_in_words(comment.created_at)} ago" %></em></small>
             <% if signed_in? && current_user.admin? %>   
        			 <%= link_to ('<span class="glyphicon glyphicon-remove"></span>').html_safe, product_comment_path(comment.product, comment), method: :delete, data: { confirm: 'Are you sure?' } %>      		
    			<% end %>		
            </div>
            <div class="rated" data-score="<%= comment.rating %>"></div>
            <div><%= comment.body %></div>
            
         
        </div>
    <% end %>
    <% if @comments.empty? %>
     <p>No reviews available.</p>
    <% end %>
    <%= will_paginate @comments %>
</div>