

<div class="container-fluid">
	<div class="row product-row">
			<div class="col-xs-12 col-md-6">
  			<%= image_tag(@product.image_url, class: "img-responsive") %>
  		</div>
		 	<div class="col-xs-12 col-md-6">
				<p class="lead"><%= @product.name %></p>
				<div class="review-row">	
					Average rating (<i><%=@comments.count%> reviews</i>)
					<div class="rated" data-score="<%= @product.average_rating %>"></div>			
				</div>
				<p><%= @product.description %></p>
				<p><strong>Price: </strong>$<%= @product.price %><p>
				
				<%= form_tag "/payments/create" do %>
  				<%= render partial: "shared/stripe_checkout_button" %>
				<% end %>	

				

				<div class="review-row"><%= render 'new_comment' %></div>
  								
			</div>
  </div>
	<div class="row comments-row">
		<%= render 'comments' %>
		<% if signed_in? && current_user.admin? %>
			<%= link_to 'Edit', edit_product_path(@product),:class=> "btn btn-default", :role=>"button" %> |
		<% end %>
		<%= link_to 'Back', products_path,:class=> "btn btn-default", :role=>"button" %>
	</div>
</div>
<hr>
