

<div class="container-fluid">
	<div class="row product-row">
			<div class="col-xs-12 col-md-6">
  			<%= image_tag(@product.image_url, class: "img-responsive") %>
  		</div>
		 	<div class="col-xs-12 col-md-6">
				<p class="lead">
  				<%= @product.name %>
 				</p>
				<p>
  				<%= @product.description %>
				</p>
			</div>
  </div>
<div class="row comments-row">
<div>Average Rating: <div class="rated" data-score="<%= @product.average_rating %>"></div> </div>

<div>	<strong>Price: </strong>
	$<%= @product.price %>
</div>

<%= render 'new_comment' %>
<%= render 'comments' %>


<% if signed_in? && current_user.admin? %>
	<%= link_to 'Edit', edit_product_path(@product) %> |
<% end %>
<%= link_to 'Back', products_path %>
</div>
</div>
<hr>
