<p id="notice"><%= notice %></p>

<h2>
  <%= @product.name %>
 </h2>


<p class="lead">
  
  <%= @product.description %>
</p>

<div>
  <%= image_tag(@product.image_url, class: "img-responsive") %>
</div>
<div>Average Rating: <div class="rated" data-score="<%= @product.average_rating %>"></div> </div>

<div>	<strong>Price: </strong>
	$<%= @product.price %>
</div>

<%= render 'new_comment' %>
<%= render 'comments' %>



<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
<hr>
